@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.active span {
  @apply h-[1rem] w-[1rem] border-[.3rem] border-slate-200 bg-blue-600;
}

@layer components {
  .urlActive {
    @apply relative rounded-md bg-blue-100 text-blue-500 after:absolute after:right-[-1rem] after:h-full after:w-1 after:rounded-l-lg after:bg-blue-500;
  }
}

@layer components {
  .nav_item {
    @apply relative mx-4 flex cursor-pointer items-center gap-3 rounded-md px-3 py-2 capitalize duration-100 hover:bg-gray-100;
  }
}

@layer components {
  .nav_list {
    @apply h-0 overflow-hidden;
  }
}

@layer components {
  .nested_nav_item {
    @apply mx-3 rounded-md capitalize transition-all duration-100 hover:bg-slate-100;
  }
}

@layer components {
  .nested_nav_link {
    @apply grid w-full grid-cols-[1rem_1fr] items-center gap-4 px-5 py-2;
  }
}

@layer components {
  .nested_nav_link_bullet {
    @apply inline-block h-[.4rem] w-[.4rem] justify-self-center rounded-full bg-gray-400;
  }
}

@layer components {
  .nested_nav_link_name {
    @apply text-[.9rem];
  }
}
